.user-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 20px;
  background-color: white;
  margin-top: 100px;
}

.user-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 100%;
}

.user-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  overflow: hidden;
  margin: 20px;
}

.user-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -190px;
  z-index: 10;

}

.user-card h2 {
  font-size: 24px;
  margin-top: 70px;
  color: rgb(152, 11, 11)
}

.user-card h3 {
  font-size: 10px;
  margin-top: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  justify-content: center;
  color: #666;
  padding: 0 20px;
}

.user-card p {
  font-size: 10px;
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  padding: 0 20px;
}
